main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 900px;
    width: 100%;
}

.episodeList ul {
  list-style: none;
}

.episodeList li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  background-color: #c60e0e;
  
}

.details {
  background-color: #2b2b2b;
  padding: 1.5rem;
  border-radius: 10px;
  flex: 2;
  min-width: 300px;
}

.details h2 {
  color: #c60e0e;
  margin-bottom: 0.75rem;
}

.details p {
  line-height: 1.5;
  color: #ddd;
}

